
<footer class="text-center">
  <div class="container-fluid">
    <p>© 2025 Mercedes Pallotti Miranda.</p>
    <p>contacto: <a href="mailto:mpallotti7@gmail.com"> mpallotti7@gmail.com</a></p>
     <p style="font-size: 0.9rem; opacity: 0.7;">
        Este sitio fue testeado bajo condiciones extremas: falta de sueño y exceso de fe.
    </p>
   <div>
</footer>
