<footer class="text-center position-relative w-100 py-4 mt-5">
  <div class="container-fluid">
    <p>Diseñado por Mercedes Pallotti Miranda</p>
      <a href="#" class="mx-1">Instagram</a>
      <a href="#" class="mx-1">Facebook</a>
      <a href="#" class="mx-1">Twitter</a>
    </div>
  </div>
</footer>
