<%- include('partials/head') %>
<%- include('partials/navbar') %>
<main>
    <h1 class="text-center">About me</h1>
    <div class="conteiner-about-me mt-5 mb-5">
    
<img src="/public/assets/aboutme.png" alt="about me imagen" class="about-me-img mb-4">
<div class="row">
    <h2>De este lado, Mercedes Pallotti Miranda.</h2>
    <p>Estudiante de Artes Multimediales, osea: Mitad estudiante de Artes Multimediales, mitad criatura nocturna que vive entre cámaras, cables y deadlines imposibles. criatura impulsada por cafeína y decisiones dudosas. </p>
    <p>Convivo pacíficamente con Premiere (salvo cuando crashea) y sostengo firmemente que cualquier problema técnico puede solucionarse reiniciando la computadora o, en su defecto, reiniciando la computadora dos veces. </p>
    <p> sitio web es otro de mis experimentos existenciales: un intento desesperado por demostrarle al mundo (y a mi compu) que todavía puedo producir algo antes de que la realidad se dé cuenta de que estoy improvisando todo.</p>
    </p>

    </div>
    </div>
    </main>
<%- include('partials/foot') %>