<%- include ('partials/head'), { pageTitle: 'Obras Interactivas'} %>
<%- include('partials/navbar') %>
<main>

<h1 class="mb-3 mt-5 text-center">Obras Interactivas</h1>
<p class="text-center mb-5">elegí una de las siguientes experiencias:</p>

<div class="sketch-container">
  <div class="sketch-card">
    <p>VISUAL</p>
    <img src="/public/assets/escena1.logo.jpg" alt="Sketch 1" class="sketch-img">
    <a href="/obra/sketch1" class="btn btn-outline-light mt-3">Entrar</a>
    </div>

      <div class="sketch-card">
        <p>GALERIA </p>
     <img src="/public/assets/escena2.logo.jpg" alt="Sketch 3" class="sketch-img">
       <a href="/obra/sketch3" class="btn btn-outline-light mt-3">Entrar</a>
    </div>
  

  <div class="sketch-card">
    <p>MUSICAL</p>
    <img src="/public/assets/escena3.logo.jpg" alt="Sketch 2" class="sketch-img">
     <a href="/obra/sketch2" class="btn btn-outline-light mt-3">Entrar</a>
  </div>

</div>
</main>