<%- include ('../partials/head', { pageTitle: 'Sketch 1' }) %>
<%- include ('../partials/navbar') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
<main class="main-index">
  <div class="sketch-1">
    <script src="/public/p5/obra/sketch.js"></script>
  </div>
</main>