<%- include ('../partials/head', { pageTitle: 'Sketch 1' }) %>
<%- include ('../partials/navbar') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
<main class="main-index">
<script>
let pantalla01;


class Pantalla {
  constructor() {
    this.num = 30;
    this.margen = 50;
    this.forma = 1;
    this.paletadeColor = ["#FFFFFF","#CCE7FF","#99D0FF","#66B8FF","#339FFF","#0077FF","#0055AA","#003377"];
    this.dReferencia = 100;
  }

  calcularSize() {
    let cellWidth = (width - this.margen * 2) / this.num;
    let cellHeight = (height - this.margen * 2) / this.num;
    return min(cellWidth, cellHeight);
  }

  draw() {
    noStroke();

    let size = this.calcularSize();
    let offsetX = (width - size * this.num) / 2;
    let offsetY = (height - size * this.num) / 2;

    for (let i=0;i<this.num;i++){
      for (let j=0;j<this.num;j++){
        let x = offsetX + size/2 + i*size;
        let y = offsetY + size/2 + j*size;

        let distanciaAlCentro = dist(x,y,width/2,height/2);
        let distancias = pow(distanciaAlCentro,this.forma);
        let index = floor(map(distancias,0,this.dReferencia,0,this.paletadeColor.length-1));
        let colorIndex = index % this.paletadeColor.length;

        fill(this.paletadeColor[colorIndex]);
        ellipse(x,y,size,size);
      }
    }

    fill(200);
    textAlign(CENTER);
    textSize(16);
    text("CHUSEMA LA FLECHA ARRIBA o FLECHA ABAJO", width/2, height-30);
    text("<- 4", 20, 0);
  }

  keyPressed() {
    if (keyCode === UP_ARROW){ 
      this.num = int(random(10, 200));

    } else if (keyCode === DOWN_ARROW){ 
      this.forma = random(0.5, 2);

    } 
}

}

function setup() {
  createCanvas(1000, 1000);
  pantalla01 = new Pantalla();
}

function draw() {
  pantalla01.draw();
}

function keyPressed() {
  pantalla01.keyPressed();
}



</script>
</main>