<%- include ('../partials/head', { pageTitle: 'Sketch 2' }) %>
<%- include ('../partials/navbar') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
<main class="main-index">
    <script src="/public/p5/obra/sketch2.js"></script>
</main>